.empty-state {
  text-align: center;
  padding: 2rem;
  
  ion-icon {
    color: var(--ion-color-medium);
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  
  h2 {
    color: var(--ion-color-dark);
    margin-bottom: 0.5rem;
  }
  
  p {
    color: var(--ion-color-medium);
    margin-bottom: 1.5rem;
  }
}

ion-chip {
  margin-left: auto;
}
